[submodule "edsm"]
	path = edsm
	url = https://github.com/ED-NEWP/edsm
	ignore = untracked
[submodule "eddb"]
	path = eddb
	url = https://github.com/ED-NEWP/eddb
	ignore = untracked
[submodule "eddn"]
	path = eddn
	url = https://github.com/ED-NEWP/eddn
	ignore = untracked
[submodule "elite_journal"]
	path = elite_journal
	url = https://github.com/ED-NEWP/elite_journal
	ignore = untracked
