[submodule "edsm"]
	path = edsm
	url = https://github.com/nixpulvis/edsm
	ignore = untracked
[submodule "eddb"]
	path = eddb
	url = https://github.com/nixpulvis/eddb
	ignore = untracked
[submodule "eddn"]
	path = eddn
	url = https://github.com/nixpulvis/eddn
	ignore = untracked
[submodule "elite_journal"]
	path = elite_journal
	url = https://github.com/nixpulvis/elite_journal
	ignore = untracked
